.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content
{
  display: flex;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

form
{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 600px;
  justify-content: center;
  align-items: center;
}

fieldset
{
  display: flex;
  flex-direction: column;
  border: none;
  width: 80%;
  row-gap: 10px;
  max-width: 800px;
}

.input-field
{
  position: relative;
  min-height: 45px;
  margin-bottom: 15px;
}

.input-field input
{
  position: absolute;
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 16px;
  width: 100%;
  border-bottom: 2px solid rgb(197, 195, 195);
}

input:focus
{
  outline: none;
  border-bottom: 2px solid green;
}

.input-field label
{
  position: absolute;
  top: 0;
  left: 0;
  color: #555;
  pointer-events: none;
  display: block;
  transition: 0.5s;
}

.input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label
{
  transform: translateY(-25px);
}

.input-field > p
{
  color: rgb(255, 97, 97);
  margin-top: 25px;
}

button
{
  cursor: pointer;
}

button[type="submit"]
{
  background-color: rgb(82, 255, 47);
  width: 200px;
  height: 1.6rem;
  align-self: center;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}

.edit--btn
{
  background: none;
  border: none;
  font-weight:normal;
}

label[for=genero]{
  top: -20px;
}

input[type="checkbox"]{
  margin-top: 30px;
  width: 100%;
}

label[for=checkbox]
{
  width: 100%;
  padding-left: 10px;
}
